.navigation {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    font-family: $main-font;
    .nav {
        position: relative;
        background-color: #ffffff80;
        z-index: 1;
        li {
            text-align: right;
            a {
                color: $corp-violett;
                // font-size: 40px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        div {
            display: block;
            position: relative;
            height: 60px;
            img {
                position: absolute;
                top: 0.2em;
                right: 1em;
                height: 55px;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color: $corp-violett;;
        background-color: $corp-dark-pink-hover;
    }
    .nav>li>a:focus, .nav>li>a:hover {
        opacity: 0.6;
        background-color: transparent;
    }
}
.header-content-onscroll {
    background-color: $corp-violett;
}
@media (min-width: $screen-md-min) {
    .navigation {
        position: relative;
        font-size: 16px;
        float: right;
        .nav {
            background-color: transparent;
        }
    }
}
@media (min-width: $screen-lg-min)  {
    .navigation {
        font-size: 20px;
    }
}
