.navigation {
    width: 100%;
    margin: 5px;
    font-size: 75px;
    font-family: $main-font;

    .nav {
        float: right;
        li {
            text-align: center;
            a {
                color: $corp-green;
            }
        }
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color: white;
        background-color: $corp-green;
    }

}
