.navigation {
    font-size: 20px;
    font-family: $main-font;
    .nav {
        float: right;
        li {
            text-align: right;
            a {
                color: $corp-violett;
            }
        }
        div {
            img {
                position: absolute;
                top: 6px;
                right: 30px;
                height: 55px;
                cursor: pointer;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color: $corp-violett;;
        background-color: $corp-dark-pink-hover;
    }
    .nav>li>a:focus, .nav>li>a:hover {
        opacity: 0.6;
        background-color: transparent;
    }
}
.header-content-onscroll {
    background-color: $corp-violett;
}
@media (min-width: $screen-md-min) {
    .navigation {
        font-size: 16px;
        float: right;
    }
}
@media (min-width: $screen-lg-min)  {
    .navigation {
        font-size: 20px;
    }
}
