 .products-content {
     text-align: center;
 }
.item-wrapper {
    padding: 1em;
    background-color: white;
    text-align: center;
    color: white;
    font-family: $main-font;
    .item-content {
        background-color: $corp-lightviolett;
        .item-like-icon {
            position: relative;
            right: -42%;
            font-size: 25px;
            color: white;
            margin: 0.4em;
            &:hover {
                cursor: pointer;
                opacity: 0.4;
            }
        }
        .item-image {
            width: 86%;
            height: 300px;
            margin: 0 7%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:hover {
                cursor: pointer;
            }
        }
        p {
            margin: 1em;
        }
        .item-description:hover {
            cursor: pointer;
        }
        .item-price {
            font-weight: 600;
            font-size: 14px;
            .item-price-value {
                font-size: 18px;
            }
        }
    }
    .item-content-hover {
        background-color: $corp-violett;
    }
}
.product-details {
    padding: 3em;
    margin: 3em auto;
    .row {
        .product-image {
            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }
        .product-info {
            padding: 2em 15px;
            font-family: $main-font;
            font-size: 18px;
            color: $corp-violett;
            text-align: center;
            .product-price-value {
                font-size: 24px;
            }
            .cart-button {
                width: 80%;
                border: none;
                background-color: $corp-violett;
                color: white;
                font-family: $main-font;
                padding: 0.4em;
                &:hover {
                    border: none;
                    background-color: $corp-lightviolett;
                    color: $corp-violett;
                }
            }
        }
    }
    .back-arrow  {
        position: absolute;
        left: 3%;
        top: 11%;
        font-size: 33px;
        color: $corp-violett;
        &:hover {
            color: $corp-lightviolett;
            cursor: pointer;
        }
    }
}
@media (min-width: $screen-md-min) {
    .product-details {
        .row {
            display: flex;
            align-items: center;
            .product-image {
                img {
                    height: 400px;
                }
            }
            .product-info {
                padding: 0 15px;
            }
        }
    }
}
